*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
.searchbar{
    width: 100%;
}

.search-container {
    position: relative;
    width: 50%;
}

.search-input {
    width: 100%;
    padding-right: 40px; /* Space for icon */
}

.search-icon {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    cursor: pointer;
}
